test_result.log.*
*.pyc
__pycache__/

*.log
assets
test_result.html
*venv
*.kube
*provider.tf
*dev.tfrc
*.terraform.d
*terraformharvester
terraform_test_artifacts/
*.DS_Store
*config
.idea
node_modules
scripts/**/*.sh
.vscode/
.tox
.report.json
test_result.json
public
*.hugo_build.lock