# This file is used for configuring test variables

# Common resource
Harvester_URL = "https://127.0.0.1:30443/"
TESTING_BROWSER = "Chrome"
BROWSER_WAIT_TIMEOUT = "30s"
BROWSER_DOWNLOAD_PATH = ""
# default download path will be placed to "{OUTPUT FILE}-downlaods"
# You can check `atest/resources/login_utils.py` for more information

# Login
HARVESTER_USERNAME = "admin"
HARVESTER_PASSWORD = "admin"

# Backup
BACKUP_NFS_URI = "nfs://URI:/folders/endpoint"
BACKUP_S3_BUCKET_NAME = ""
BACKUP_S3_BUCKET_REGION = ""
BACKUP_S3_KEY_ID = ""
BACKUP_S3_SECRET = ""

# S3 Optional
# BACKUP_S3_Endpoint = ""
# BACKUP_S3_Certificate = ''' long string '''
# BACKUP_S3_Virtual_hosted_style = True
