# Harvester API endpoint
endpoint: 'https://localhost:30443'

#Harvester username
username: 'admin'

#Harvester old/default admin password
old-password: 'admin'

#Harvester password - satisfies the minimum 12 character length
password: 'password1234'

#Do not cleanup the test artifacts
do-not-cleanup: False

# harvester_cluster_nodes
harvester_cluster_nodes: 3

# VLAN ID, will invoke the tests depended on external networking if not set to -1.
vlan-id: 1

# Physical NIC for VLAN. Default is "harvester-mgmt"
vlan-nic: 'harvester-mgmt'

#Wait time for polling operations
wait-timeout: 600

node-scripts-location: 'scripts/vagrant'

# URL to download the Windows image
win-image-url: ''

# URL to download all images
image-cache-url: ''

terraform-scripts-location: 'terraform_test_artifacts'

workaround-restartvm: False

# Backup Target S3
region: ''
accessKeyId: ''
secretAccessKey: ''
bucketName: ''

# Backup Targer NFS
nfs-endpoint: ''

backup-scripts-location: 'backup_restore_test_artifacts'
