# Harvester Cluster
endpoint: 'https://localhost'
username: 'admin'
password: 'password1234'
# Be used to access Harvester node, fill in one of following is enough.
host-password: ''
host-private-key: ''

# VLAN ID, will invoke the tests depended on external networking if not set to -1.
vlan-id: 1
# Physical NIC for VLAN. Default is "mgmt"
vlan-nic: 'mgmt'
ip-pool-subnet: '192.168.0.0/24'
ip-pool-start: '192.168.0.200'
ip-pool-end: '192.168.0.210'

# Wait time for polling operations
wait-timeout: 600
# Sleep time for polling operations
sleep-timeout: 3

# script location to manipulate node power cycle
node-scripts-location: 'scripts/vagrant'

# Images and their sha512sums
opensuse-image-url: https://rsync.opensuse.org/repositories/Cloud%3A/Images%3A/Leap_15.6/images/openSUSE-Leap-15.6.x86_64-NoCloud.qcow2
# sha512sum for opensuse image-url
opensuse-checksum: ''
ubuntu-image-url: https://cloud-images.ubuntu.com/releases/releases/24.04/release/ubuntu-24.04-server-cloudimg-amd64.img
# sha512sum for ubuntu image-url
ubuntu-checksum: ''
# cache URL, convert image-url to <image-cache-url>/<filename>
image-cache-url: ''

# script location for terraform related test cases
terraform-scripts-location: 'terraform_test_artifacts'
# Rancher provider version, leave empty for the latest version. e.g. '' or '3.1.1'.
terraform-provider-rancher: ''
# Harvester provider version:
# '' for the latest released version.
# '0.0.0-dev' for the latest version from master branch.
# '0.0.0-dev' requires Docker, because we will get plugin executable file from the container.
# '0.6.3' for the specific version.
terraform-provider-harvester: ''

# Backup Target S3
s3-endpoint: ''
region: ''
accessKeyId: ''
secretAccessKey: ''
bucketName: ''

# Backup Target NFS
nfs-endpoint: ''
nfs-mount-dir: 'nfsshare'

# Rancher Cluster
rancher-endpoint: 'https://127.0.0.1'
rancher-admin-password: 'password1234'
# Prefix of K8s version for to create downstream cluster
k8s-version: 'v1.28'
# Wait time for polling Rancher cluster status.
rancher-cluster-wait-timeout: 1800

# Upgrade parameters
upgrade-prepare-dependence: False
upgrade-sc-replicas: 3
# If the value is empty, then skip the os version validation.
upgrade-target-version: ""
upgrade-iso-url: ""
upgrade-iso-checksum: ""
# Based on the number of nodes, i.e., upgrade-wait-timeout * 3 nodes
upgrade-wait-timeout: 7200
