# Harvester API endpoint
endpoint: 'https://localhost:30443'

#Harvester username
username: 'admin'

#Harvester password
password: 'admin'

#Do not cleanup the test artifacts
do-not-cleanup: False

# harvester_cluster_nodes
harvester_cluster_nodes: 3

# VLAN ID, will invoke the tests depended on external networking if not set to -1.
vlan-id: 1

# Physical NIC for VLAN. Default is "harvester-mgmt"
vlan-nic: 'harvester-mgmt'

#Wait time for polling operations
wait-timeout: 600

node-scripts-location: 'scripts/vagrant'

# URL to download the Windows image
win-image-url: ''

# URL to download all images
image-cache-url: ''

terraform-scripts-location: 'terraform_test_artifacts'

workaround-restartvm: False
