pytest-ordering
pytest-html
pytest-json-report
pytest-dependency
paramiko
pytest == 7.*
pytest-cases == 3.8.5
pytest-drop-dup-tests
jinja2
bcrypt
pycryptodome
sshpubkeys
polling2
cryptography
boto3
scp
requests
urllib3
lxml
pyyaml
pdoc3
tox
dataclasses; python_version < '3.7'
-e ./apiclient