pytest
pytest-drop-dup-tests
pytest-ordering
pytest-html
pytest-json-report
pytest-dependency
jinja2
bcrypt
requests
paramiko
pycryptodome
sshpubkeys
pyyaml
polling2
cryptography
boto3
scp
requests
urllib3
lxml
pyyaml
pdoc3
tox==3.23.1
-e ./apiclient
