pytest == 7.*
pytest-cases == 3.8.5
pytest-drop-dup-tests
pytest-ordering
pytest-html
pytest-json-report
pytest-dependency
jinja2
bcrypt
paramiko
pycryptodome
sshpubkeys
pyyaml
polling2
cryptography
boto3
scp
requests
urllib3
lxml
pdoc3
setuptools < 69
tox
dataclasses; python_version < '3.7'
-e ./apiclient
