{
  "NODE_ENV": "production",
  "username": "admin",
  "password": "admin",
  "baseUrl": "https://online-server",
  "host":
  {
    "name": "",
    "disks":
    [
      {
        "name": "",
        "devPath": ""
      }
    ]
  },
  "largeImage": {
    "name": "openSUSE-Leap-15.3-3-DVD-x86_64-Build38.1-Media.iso",
    "url": "https://mirrors.bfsu.edu.cn/opensuse/distribution/leap/15.3/iso/openSUSE-Leap-15.3-3-DVD-x86_64-Build38.1-Media.iso"
  },
  "image": {
    "name": "cirros-0.5.2-aarch64-disk.img",
    "url": "https://github.com/cirros-dev/cirros/releases/download/0.5.2/cirros-0.5.2-aarch64-disk.img"
  },
  "guest_cluster_image": {
    "name": "focal-server-cloudimg-amd64.img",
    "url": "https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img"
  }
}