{
  "NODE_ENV": "production",
  "username": "admin",
  "password": "admin",
  "mockPassword": "mockPassword",
  "baseUrl": "https://online-server",
  "rancherUrl": "https://rancher-server",
  "rancherUser": "admin",
  "rancherPassword": "admin",
  "rancherBootstrapPassword": "admin",
  "host": [
    {
      "name": "",
      "customName": "",
      "disks": [
        {
          "name": "",
          "devPath": ""
        }
      ],
      "witnessNode": false
    }
  ],
  "largeImage": {
    "name": "openSUSE-Leap-15.3-3-DVD-x86_64-Build38.1-Media.iso",
    "url": "https://mirrors.bfsu.edu.cn/opensuse/distribution/leap/15.3/iso/openSUSE-Leap-15.3-3-DVD-x86_64-Build38.1-Media.iso"
  },
  "image": {
    "name": "cirros-0.5.2-aarch64-disk.img",
    "url": "https://github.com/cirros-dev/cirros/releases/download/0.5.2/cirros-0.5.2-aarch64-disk.img"
  },
  "vlans": [
    {
      "nic": "ens7",
      "vlan": 100
    },
    {
      "nic": "ens8",
      "vlan": 104
    },
  ],
  "sshKey": "ssh-rsa GgVY6KnKpJqrBd/BGuUoHhh/C3CXhDojb1G1Td6hktaUwH+Q== username@email.com",
  "privateKeyPath": "/Users/username/.ssh/id_rsa"
}
