{
  "NODE_ENV": "production",
  "username": "admin",
  "password": "admin",
  "baseUrl": "https://online-server",
  "rancherUrl": "https://rancher-server",
  "rancher_user": "admin",
  "rancher_password": "passwdpasswd",
  "rancher_vm_user": "vagrant",
  "rancher_vm_password": "vagrant",
  "vagrant_pxe_path": "../ipxe-examples/vagrant-pxe-harvester",
  "host":
  {
    "name": "",
    "disks":
    [
      {
        "name": "",
        "devPath": ""
      }
    ]
  },
  "largeImage": {
    "name": "openSUSE-Leap-15.3-3-DVD-x86_64-Build38.1-Media.iso",
    "url": "https://mirrors.bfsu.edu.cn/opensuse/distribution/leap/15.3/iso/openSUSE-Leap-15.3-3-DVD-x86_64-Build38.1-Media.iso"
  },
  "image": {
    "name": "cirros-0.5.2-aarch64-disk.img",
    "url": "https://github.com/cirros-dev/cirros/releases/download/0.5.2/cirros-0.5.2-aarch64-disk.img"
  }
}