# see https://www.digitalocean.com/community/tutorials/how-to-automate-jenkins-setup-with-docker-and-jenkins-configuration-as-code
jenkins:
  systemMessage: "Jenkins configured automatically"
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: {{ JENKINS_ADMIN_USERNAME }}
          password: {{ JENKINS_ADMIN_PASSWORD  }}
        - id: {{ JENKINS_DEV_USERNAME }}
          password: {{ JENKINS_DEV_PASSWORD }}
  authorizationStrategy:
    globalMatrix:
      permissions:
        - "Job/Read:{{ JENKINS_DEV_USERNAME }}"
        - "Overall/Administer:{{ JENKINS_ADMIN_USERNAME }}"
        - "Overall/Read:authenticated"
        - "Run/Replay:{{ JENKINS_DEV_USERNAME }}"
  remotingSecurity:
    enabled: true

  numExecutors: 1

credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              scope: "GLOBAL"
              username: "{{ GITHUB_CI_USERNAME }}"
              password: "{{ GITHUB_CI_PASSWORD }}"
              id: "for-harvester-ci"
              description: "github credential for harvester-installer ci"
          {# - gitHubApp:
              scope: "GLOBAL"
              # TODO: update "id" to not be current testing based ID
              id: "jenkins-irishgordo-team-harvester"
              description: "the GitHub App credentials needed to speak with the GitHub Checks API to bubble out information about Jenkins stages, elements of provisioning, test results and more - eliminating the need for those to go directly to Jenkins to view results and providing a more realtime sense of feedback"
              appID: "{{ GITHUB_APP_ID }}"
              # TODO: IMPL Of Private Key is funky, with the way it is doing the yaml ...tbd on best approach
              {# privateKey: |
                {{ GITHUB_APP_PRIVATE_KEY_CONVERTED | indent(20) }} #}
              owner: "{{ GITHUB_APP_OWNER }}" #}

security:
  queueItemAuthenticator:
    authenticators:
    - global:
        strategy: "triggeringUsersAuthorizationStrategy"

jobs:
  - file: /var/lib/jenkins/casc_configs/harvester_vagrant_installation_test.groovy

unclassified:
  location:
    url: {{ JENKINS_PUBLIC_ENDPOINT }}
    adminAddress: {{ JENKINS_ADMIN_EMAIL }}

  ghprbTrigger:
    githubAuth:
      - credentialsId: "for-harvester-ci"
