pipelineJob('harvester-installer-seeder') {
    description('Seeds Harvester Installer Jenkinsfile')
    logRotator {
      numToKeep(-1)
      daysToKeep(10)
    }
    triggers {
        githubPullRequest {
            admin('irishgordo')
            admins(['irishgordo'])
            orgWhitelist('harvester')
            cron('')
            triggerPhrase('.*(re)?run-seed-job.*')
            useGitHubHooks(true)
            permitAll(true)
            displayBuildErrorsOnDownstreamBuilds(true)
            allowMembersOfWhitelistedOrgsAsAdmin(true)
            extensions {
                commitStatus {
                    context('Seed Job Harvester CI Starting')
                    triggeredStatus('Started Seed Job For Harvester Installer CI Reseeding/Seeding...')
                    completedStatus('SUCCESS', 'All good!')
                    completedStatus('FAILURE', 'Failed!')
                    completedStatus('PENDING', 'Still working on it...')
                    completedStatus('ERROR', 'Something went wrong. Need investigation.')
                }
            }
        }
    }
    definition {
        cpsScm {
            scm {
                {# TESTING ONLY!! #}
                git {
                    remote {
                        url('https://github.com/irishgordo/harvester-installer.git')
                        refspec('+refs/pull/*:refs/remotes/origin/pr/*')
                    }
                    branch('feat/2096-temporary-edits-testing')
                    extensions{
                        wipeOutWorkspace()
                    }
                }
            }
            scriptPath('Jenkinsfile')
        }
    }
}
