---
- name: jenkins | install_jenkins | Set Jenkins bootstrap credential
  set_fact:
    JENKINS_BOOTSTRAP_USERNAME: jenkins_bootstrap_user
    JENKINS_BOOTSTRAP_PASSWORD: "{{ lookup('password', '/dev/null chars=ascii_letters,digits length=30') }}"

- name: jenkins | install_jenkins | Install Jenkins
  include_tasks: install_jenkins_on_{{ ansible_os_family }}.yml

- name: jenkins | install_jenkins | Wait for Jenkins to be ready
  uri:
    url: "http://localhost:8080/cli/"
    status_code: 200
  register: get_jenkins_cli_result
  until: get_jenkins_cli_result.status == 200
  retries: 10
  delay: 20

- name: jenkins | install_jenkins | Install Jenkins CLI
  get_url:
    url: "http://localhost:8080/jnlpJars/jenkins-cli.jar"
    dest: "/opt/jenkins-cli.jar"
  register: jarfile_get
  until: "'OK' in jarfile_get.msg or '304' in jarfile_get.msg or 'file already exists' in jarfile_get.msg"
  retries: 5
  delay: 10

- name: jenkins | install_jenkins | Create jenkins CLI to install plugins
  template:
    src: jenkins.j2
    dest: /usr/bin/jenkins-cli
    mode: 0755
    force: yes
  vars:
    JENKINS_AUTH_USERNAME: "{{ JENKINS_BOOTSTRAP_USERNAME }}"
    JENKINS_AUTH_PASSWORD: "{{ JENKINS_BOOTSTRAP_PASSWORD }}"

- name: jenkins | install_jenkins | Install Jenkins plugins
  shell: >
    /usr/bin/jenkins-cli install-plugin {{ item }}
  with_items:
    - ansible
    - authorize-project
    - build-timeout
    - blueocean
    - bootstrap5-api
    - checks-api
    - configuration-as-code
    - credentials-binding
    - email-ext
    - ghprb
    - git
    - github-branch-source
    - github-oauth
    - github-pr-comment-build
    - htmlpublisher
    - jobConfigHistory
    - job-dsl
    - junit
    - ldap
    - mailer
    - matrix-auth
    - pam-auth
    - pipeline-github
    - pipeline-github-lib
    - pipeline-stage-view
    - pipeline-utility-steps
    - rebuild
    - ssh-slaves
    - support-core
    - timestamper
    - workflow-aggregator
    - workflow-cps
    - workflow-job
    - ws-cleanup

- name: jenkins | install_jenkins | Remove Jenkins security bootstrap scripts
  file:
    path: /var/lib/jenkins/init.groovy.d/basic-security.groovy
    state: absent

- name: jenkins | install_jenkins | Create Jenkins ansible_playbooks directory
  file:
    path: /var/lib/jenkins/ansible_playbooks
    state: directory
    owner: jenkins
    group: jenkins
    mode: 0755
  when: false

- name: jenkins | install_jenkins | Create Jenkins config as code directory
  file:
    path: /var/lib/jenkins/casc_configs
    state: directory
    owner: jenkins
    group: jenkins
    mode: 0755

- name: jenkins | install_jenkins | Create Jenkins config as code file
  template:
    src: config_jenkins_as_code.yaml.j2
    dest: /var/lib/jenkins/casc_configs/config_jenkins_as_code.yaml
    owner: jenkins
    group: jenkins
    mode: 0644

- name: jenkins | install_jenkins | Copy pipeline jobs
  template:
    src: "{{ item }}.j2"
    dest: "/var/lib/jenkins/casc_configs/{{ item }}"
    owner: jenkins
    group: jenkins
    mode: 0755
  with_items:
    - harvester_vagrant_installation_test.groovy

- name: jenkins | install_jenkins | Restart jenkins
  ansible.builtin.systemd:
    name: jenkins
    state: restarted
    force: yes
    enabled: yes
    masked: no
  register: result
  retries: 30
  delay: 3
  until: result is success

- name: jenkins | install_jenkins | Create jenkins CLI
  template:
    src: jenkins.j2
    dest: /usr/bin/jenkins-cli
    mode: 0755
    force: yes
  vars:
    JENKINS_AUTH_USERNAME: "{{ JENKINS_ADMIN_USERNAME }}"
    JENKINS_AUTH_PASSWORD: "{{ JENKINS_ADMIN_PASSWORD }}"
