{# Harvester APIs #}
{# see https://docs.harvesterhci.io/v0.2/reference/api/ #}

{
    "get_vlan": "{{ harvester_endpoint }}/apis/network.harvesterhci.io/v1beta1/clusternetworks/vlan",
    "update_vlan": "{{ harvester_endpoint }}/v1/harvester/network.harvesterhci.io.clusternetworks/vlan",
    "list_nodes": "{{ harvester_endpoint }}/v1/nodes",
    "get_node": "{{ harvester_endpoint }}/v1/nodes/%s",
    "delete_node": "{{ harvester_endpoint }}/v1/nodes/%s",
    "get_node_metrics": "{{ harvester_endpoint }}/v1/metrics.k8s.io.nodes/%s",
    "first_login_check": "{{ harvester_endpoint }}/v1/management.cattle.io.setting/first-login",
    "local_auth": "{{ harvester_endpoint }}/v3-public/localProviders/local",
    "reset_password": "{{ harvester_endpoint }}/v3/users",
    "create_keypair": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/keypairs",
    "delete_keypair": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/keypairs/%s",
    "get_keypair": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/keypairs/%s",
    "list_images": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachineimages",
    "create_image": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachineimages",
    "delete_image": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachineimages/%s",
    "get_image": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachineimages/%s",
    "update_image": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachineimages/%s",
    "upload_image": "{{ harvester_endpoint }}/v1/harvester/harvesterhci.io.virtualmachineimages/{{ api_namespace | default('default') }}/%s",
    "create_volume": "{{ harvester_endpoint }}/api/v1/namespaces/{{ api_namespace | default('default') }}/persistentvolumeclaims",
    "update_volume": "{{ harvester_endpoint }}/api/v1/namespaces/{{ api_namespace | default('default') }}/persistentvolumeclaims/%s",
    "get_volume": "{{ harvester_endpoint }}/api/v1/namespaces/{{ api_namespace | default('default') }}/persistentvolumeclaims/%s",
    "delete_volume": "{{ harvester_endpoint }}/api/v1/namespaces/{{ api_namespace | default('default') }}/persistentvolumeclaims/%s",
    "create_vm": "{{ harvester_endpoint }}/apis/{{ kubevirt_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachines",
    "update_vm": "{{ harvester_endpoint }}/apis/{{ kubevirt_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachines/%s",
    "delete_vm": "{{ harvester_endpoint }}/apis/{{ kubevirt_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachines/%s",
    "get_vm": "{{ harvester_endpoint }}/apis/{{ kubevirt_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachines/%s",
    "restart_vm": "{{ harvester_endpoint }}/apis/subresources.kubevirt.io/v1/namespaces/{{ api_namespace | default('default') }}/virtualmachines/%s/restart",
    "stop_vm": "{{ harvester_endpoint }}/apis/subresources.kubevirt.io/v1/namespaces/{{ api_namespace | default('default') }}/virtualmachines/%s/stop",
    "start_vm": "{{ harvester_endpoint }}/apis/subresources.kubevirt.io/v1/namespaces/{{ api_namespace | default('default') }}/virtualmachines/%s/start",
    "pause_vm": "{{ harvester_endpoint }}/apis/subresources.kubevirt.io/v1/namespaces/{{ api_namespace | default('default') }}/virtualmachineinstances/%s/pause",
    "unpause_vm": "{{ harvester_endpoint }}/apis/subresources.kubevirt.io/v1/namespaces/{{ api_namespace | default('default') }}/virtualmachineinstances/%s/unpause",
    "migrate_vm": "{{ harvester_endpoint }}/apis/subresources.kubevirt.io/v1/namespaces/{{ api_namespace | default('default') }}/virtualmachines/%s/migrate",
    "create_vm_backup": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachinebackups",
    "get_vm_backup": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachinebackups/%s",
    "create_vm_restore": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachinerestores",
    "get_vm_restore": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachinerestores/%s",
    "delete_vm_backup": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachinebackups/%s",
    "list_vm_instances": "{{ harvester_endpoint }}/apis/{{ kubevirt_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachineinstances",
    "get_vm_instance": "{{ harvester_endpoint }}/apis/{{ kubevirt_api_version }}/namespaces/{{ api_namespace | default('default') }}/virtualmachineinstances/%s",
    "create_network": "{{ harvester_endpoint }}/v1/k8s.cni.cncf.io.network-attachment-definitions",
    "get_network": "{{ harvester_endpoint }}/apis/k8s.cni.cncf.io/v1/namespaces/{{ api_namespace | default('default') }}/network-attachment-definitions/%s",
    "delete_network": "{{ harvester_endpoint }}/v1/k8s.cni.cncf.io.network-attachment-definitions/%s",
    "list_networks": "{{ harvester_endpoint }}/v1/k8s.cni.cncf.io.network-attachment-definitions",
    "list_harvester_settings": "{{ harvester_endpoint }}/v1/harvesterhci.io.settings",
    "get_api_ui_version": "{{ harvester_endpoint }}/v1/harvesterhci.io.settings/api-ui-version",
    "get_backup_target": "{{ harvester_endpoint }}/v1/harvesterhci.io.settings/backup-target",
    "create_user": "{{ harvester_endpoint }}/v1/harvesterhci.io.users",
    "create_vm_template": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/harvester-public/virtualmachinetemplates",
    "list_vm_templates": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/harvester-public/virtualmachinetemplates",
    "delete_vm_template": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/harvester-public/virtualmachinetemplates/%s",
    "create_vm_template_version": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/harvester-public/virtualmachinetemplateversions",
    "list_vm_template_versions": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/harvester-public/virtualmachinetemplateversions",
    "delete_vm_template_version": "{{ harvester_endpoint }}/apis/{{ harvester_api_version }}/namespaces/harvester-public/virtualmachinetemplateversions/%s"
}
