{# Template for basic image creation request. #}

{% if name is not defined or name is none %}
    {% set name = random_name() %}
{% endif %}

{
    "apiVersion": "harvesterhci.io/v1beta1",
    "kind": "VirtualMachineImage",
    "metadata": {
        "annotations": {
            "field.cattle.io/description": "{{ description | default('') }}"
        },
        "name": "{{ name }}",
        "namespace": "{{ image_namespace | default('default') }}"
    },
    "spec": {
        "displayName": "{{ name }}",
        "sourceType": "{{ source_type | default('download') }}",
        "url": "{{ url }}"
    }
}
