{# Template for basic keypair creation request. #}

{% if name is not defined %}
    {% set name = random_name() %}
{% endif %}

{
    "apiVersion": "harvesterhci.io/v1beta1",
    "kind": "KeyPair",
    "metadata": {
        "name": "{{ name }}",
        "namespace": "{{ keypair_namespace | default('default') }}"
    },
    "spec": {
        "publicKey": "{{ public_key }}"
    }
}
