{# Template for basic Harvester support bundle creation request. #}
{
    "apiVersion": "harvesterhci.io/v1beta1",
    "kind": "SupportBundle",
    "metadata": {
        "name": "bundle-test",
        "namespace": "harvester-system"
    },
    "spec": {
        "description": "Testing Support Bundle",
        "issueURL": ""
    },
    "type": "harvesterhci.io.supportbundle"
}
