{# Template for basic VM creation request. Start the VM instance upon #}
{# creation. #}

{% if include_usb is not defined %}
    {% set include_usb = True %}
{% endif %}

{% if name is not defined %}
    {% set name = random_name() %}
{% endif %}
{% set disk_0_name = name ~ "-disk-0-" ~ random_alphanumeric(length=5) %}
{% set disk_1_name = name ~ "-disk-1-" ~ random_alphanumeric(length=5) %}
{% if image_storage_class is not defined %}
    {% set image_storage_class = "longhorn" ~ image_name %}
{% endif %}

{
    "apiVersion": "kubevirt.io/v1",
    "kind": "VirtualMachine",
    "metadata": {
        "annotations": {
            "harvesterhci.io/volumeClaimTemplates": "[{\"metadata\":{\"name\":\"{{ disk_0_name }}\",\"annotations\":{\"harvesterhci.io/imageId\":\"{{ image_namespace | default('default') }}/{{ image_name }}\"}},\"spec\":{\"accessModes\":[\"ReadWriteMany\"],\"resources\":{\"requests\":{\"storage\":\"{{ disk_size_gb | default(10) }}Gi\"}},\"volumeMode\":\"Block\",\"storageClassName\":\"{{ image_storage_class }}\"}},{\"metadata\":{\"name\":\"{{ disk_1_name }}\"},\"spec\":{\"accessModes\":[\"ReadWriteMany\"],\"resources\":{\"requests\":{\"storage\":\"10Gi\"}},\"volumeMode\":\"Block\",\"storageClassName\":\"longhorn\"}}]",
            "field.cattle.io/description": "{{ description | default('') }}"
        },
        "name": "{{ name }}",
        "namespace": "{{ vm_namespace | default('default') }}"
    },
    "spec": {
        "runStrategy": "RerunOnFailure",
        "template": {
            "metadata": {
                "labels": {
                    "harvesterhci.io/vmName": "{{ name }}"
                }
            },
            "spec": {
                "domain": {
                    "features":{
                        "acpi": {
                            "enabled": true
                        }
                    },
                    "cpu": {
                        "cores": {{ cpu | default(1) }},
                        "sockets": 1,
                        "threads": 1
                    },
                    "devices": {
                        "disks": [
                            {
                                "disk": {
                                    "bus": "virtio"
                                },
                                "name": "disk-0"
                            },
                            {
                                "cdrom": {
                                    "bus": "sata"
                                },
                                "name": "disk-1"
{% if network_data is defined and network_data is not none or user_data is defined and user_data is not none and ssh_public_key is defined and ssh_public_key is not none %}
                            },
                            {
                                "disk": {
                                    "bus": "virtio"
                                },
                                "name": "cloudinitdisk"
{% endif %}
                            }
                        ],
{% if include_usb %}
                        "inputs": [
                            {
                                "bus": "usb",
                                "name": "tablet",
                                "type": "tablet"
                            }
                        ],
{% endif %}
                        "interfaces": [
                            {
                                "masquerade": {},
                                "model": "virtio",
                                "name": "default"
                            }
                        ]
                    },
                    "machine": {
                        "type": "{{ machine_type | default('q35') }}"
                    },
                    "resources": {
                        "requests": {
                            "memory": "{{ memory_gb | default(1) }}Gi"
                        }
                    }
                },
                "evictionStrategy": "LiveMigrate",
                "hostname": "{{ hostname | default(name) }}",
                "networks": [
                    {
                        "name": "default",
                        "pod": {}
                    }
                ],
                "volumes": [
                    {
                        "persistentVolumeClaim": {
                            "claimName": "{{ disk_0_name }}"
                        },
                        "name": "disk-0"
                    },
                    {
                        "persistentVolumeClaim": {
                            "claimName": "{{ disk_1_name }}"
                        },
                        "name": "disk-1"
{% if network_data is defined and network_data is not none or user_data is defined and user_data is not none and ssh_public_key is defined and ssh_public_key is not none %}
                    },
                    {
                        "cloudInitNoCloud": {
{% if network_data is defined and network_data is not none %}
                            "networkData": "{{ network_data }}",
{% endif %}
{% if user_data is defined and user_data is not none %}
                            "userData": "{{ user_data }}"
{% else %}
                            "userData": "#cloud-config\\nssh_authorized_keys:\\n  - >-\\n    {{ ssh_public_key }}\\n"
{% endif %}
                        },
                        "name": "cloudinitdisk"
{% endif %}
                    }
                ]
            }
        }
    }
}
