{# Template for basic volume creation request. Default size is 10Gb. #}
{% if name is not defined %}
    {% set name = random_name() %}
{% endif %}


{
    "apiVersion": "v1",
    "kind": "PersistentVolumeClaim",
    "metadata": {
        "name": "{{ name }}",
        "namespace": "{{ volume_namespace | default('default') }}",
        "annotations": {}
    },
    "spec": {
        "resources": {
            "requests": {
                "storage": "{{ size | default(10) }}Gi"
            }
        },
        "volumeMode": "Block",
        "accessModes": [
            "ReadWriteMany"
        ],
        "storageClassName": "{{ storage_class_name | default('longhorn') }}"
    }
}
