{# Template for importing harvester cluster #}

{% if test_environment is not defined or not test_environment|length %}
    {% set test_environment = "unknown" %}
{% endif %}

{% set cluster_name = "harvester-" ~ test_environment ~ "-" ~ random_alphanumeric(length=5) %}
{
    "type": "provisioning.cattle.io.cluster",
    "metadata": {
        "namespace": "fleet-default",
        "annotations": {
            "field.cattle.io/description": "harvester"
        },
        "name": "{{ cluster_name }}"
    },
    "spec": {}
}
