{# Template for importing harvester cluster #}

{
    "type": "provisioning.cattle.io.cluster",
    "metadata": {
        "namespace": "fleet-default",
        "annotations": {
            "field.cattle.io/description": "harvester"
        },
        "name": "harvester"
    },
    "spec": {}
}
