apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ harvester_endpoint }} 
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: default
  user:
    token: {{ token }} 
