{# Template for rancher rke2 cloud credentials#}
{% if test_environment is not defined or not test_environment|length %}
    {% set test_environment = "unknown" %}
{% endif %}

{% set name = "harvester-cred-" ~ test_environment ~ "-" ~ cluster_id %}

{
    "type": "provisioning.cattle.io/cloud-credential",
    "name": "{{ name }}",
    "metadata": {
        "namespace": "fleet-default"
    },
    "harvestercredentialConfig": {
        "clusterType": "imported",
        "clusterId": "{{ cluster_id }}",
        "kubeconfigContent": ""
    }
}
