{# Template for provisioning rke2 cluster#}

{
    "apiVersion":"provisioning.cattle.io/v1",
    "kind":"Cluster",
    "metadata": {
        "namespace": "{{ cluster_namespace | default('fleet-default') }}",
        "name": "{{ name }}"
    },
    "spec": {
        "cloudCredentialSecretName":"{{ cloud_credential_id }}",
        "kubernetesVersion": "{{ kubernetes_version | default('v1.21.6+rke2r1') }}",
        "rkeConfig":{
            "machineGlobalConfig": {
                "cni":"calico",
                "disable-kube-proxy":false,
                "etcd-expose-metrics":false,
                "profile":null
            },
            "machineSelectorConfig":[
                 {
                     "config":{
                         "cloud-provider-config":"",
                         "cloud-provider-name":"harvester",
                         "protect-kernel-defaults":false
                     }
                 }
            ],
            "machinePools":[
                {
                    "name":"pool1",
                    "etcdRole":true,
                    "controlPlaneRole":true,
                    "workerRole":true,
                    "hostnamePrefix":"{{ rke2_cluster_name }}-pool1-",
                    "labels":{},
                    "quantity":1,
                    "machineConfigRef":{
                        "kind":"HarvesterConfig",
                        "name":"{{ pool_name }}"
                    }
                }
            ]
        }
    }
}
