{
   "type":"rke-machine-config.cattle.io.harvesterconfig",
   "cpuCount":"1",
   "diskSize":"10",
   "imageName":"{{ image_name }}",
   "memorySize":"4",
   "metadata":{
       "namespace":"fleet-default",
       "generateName":"nc-{{ rke2_cluster_name }}-pool1-"
   },
   "networkName":"{{ network_name }}",
   "sshUser":"opensuse",
   "vmNamespace":"default"
}
