{# Template for rancher rke2 cloud credentials#}

{
    "type": "provisioning.cattle.io/cloud-credential",
    "name": "{{ name }}",
    "metadata": {
        "namespace": "fleet-default"
    },
    "harvestercredentialConfig": {
        "clusterType": "imported",
        "clusterId": "{{ cluster_id }}",
        "kubeconfigContent": ""
    }
}
