{
   "type":"nodePool",
   "controlPlane":true,
   "deleteNotReadyAfterSecs":0,
   "drainBeforeDelete":true,
   "etcd":true,
   "quantity":1,
   "worker":true,
   "nodeTemplateId":"{{ node_template_id }}",
   "clusterId":"{{ rke1_cluster_id }}",
   "driver": "harvester",
   "hostnamePrefix":"{{ host_prefix }}"
}
