resource "harvester_image" "{{ name }}" {
  name         = "{{ name }}" 
  namespace    = "{{ image_namespace | default('default') }}"
  display_name = "{{ name }}" 
  url          = "{{ url }}" 
  source_type  = "download"

  lifecycle {
    ignore_changes = all
  }
}
