{# Template for basic support bundle request #}
{% if name is not defined or name is none %}
    {% set name = random_name() %}
{% endif %}
{% if description is not defined or name is none %}
    {% set description = random_name() %}
{% endif %}
{% if issue_url is not defined or issue_url is none%}
    {% set issue_url = "" %}
{% endif %}


{
    "apiVersion": "harvesterhci.io/v1beta1",
    "kind": "SupportBundle",
    "metadata": {
        "generateName": "{{ name }}-",
        "namespace": "harvester-system"
    },
    "spec": {
        "description": "{{ description }}",
        "issueURL": "{{ issue_url }}"
    }
}